<h1><strong>My tasks</strong></h1>

<ul>
  <% @tasks.each do |task| %>
    <li><p><%= link_to task.title, task_path(task) %></p></li>
    <%= link_to 'Delete', task_path(task), method: :delete, confirm: "Are you sure?" %>
  <% end %>
</ul>

<%= link_to 'Add a task', new_task_path %>
